.cssbuttons-io-button {
  background: var(--purple);
  color: var(--white);
  padding: 0.35em;
  padding-left: 2.4rem;
  font-size: 1.6em;
  border-radius: var(--radius-sm);
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 4.2rem;
  width: 18rem;
  padding-right: 3.3em;
  cursor: pointer;
  font-weight: 500;
  white-space: pre;
  transition: opacity 0.2s ease;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.5em;
  right: 0.3em;
  transition: all 0.2s;
}

body.dark .cssbuttons-io-button .icon {
  background: rgb(14, 12, 12);
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--purple);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
