.footer {
  background: var(--white);
  border-top: 1px solid #e4e9ed;
  padding: 2rem 8%;
}

.site-footer {
  display: flex;
  justify-content: space-between;
}

.site-footer .copyright {
  font-size: 1.5rem;
  padding: 2rem 0;
  color: var(--light-color);
}

.redes-sociales {
  padding: 2rem 0;
}

.redes-sociales a {
  font-size: 2.4rem;
  padding-left: 3rem;
  color: var(--light-color);
  transition: color 0.2s ease;
}

.redes-sociales a:hover {
  color: var(--purple);
}

.titulo .redes-sociales a {
  padding: 2rem;
  color: var(--purple);
}

@media (max-width: 570px) {
  .footer {
    padding: 0.4rem 5%;
  }

  .site-footer .copyright p {
    font-size: 1.2rem;
  }

  .site-footer .redes-sociales a {
    font-size: 2.2rem;
    padding-left: 2rem;
  }
}
